@media screen and (max-width: 1200px){
    .cabecalho{
        padding: 12%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: 100%;
        margin: 0;
    }    
}

@media screen and (max-width: 400px){
    .apresentacao__conteudo__titulo{
        font-size: 2rem;
    }
}