:root{
    --cor-primaria:#181823;
    --cor-secundaria:#537FE7;
    --cor-terciaria:#E9F8F9;
    --font-primaria:'Poppins', sans-serif;
    --font-secundaria:'Roboto Mono', monospace;

   
/* #3F0071 */
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    box-sizing: border-box;
}

.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap:80px ;
}

.cabecalho__menu__link{
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-style: italic;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 3% 0 0;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    text-align: justify;
    font-family: var(--font-primaria);
}

.titulo__destaque{
    color: var(--cor-secundaria);
    font-weight: 600;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.titulo__links{
    font-family: var(--font-primaria);
    font-weight: 600;
}
.apresentacao__links__link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px ;
    padding:  21.5px 0;
    border: 2px solid var(--cor-secundaria);
    border-radius: 8px ;
    width: 280px;
    text-align: center;
    font-size: 1.4rem;
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);

}

.imagem__perfil{
    align-self: initial;
}

.rodape{
    background-color: #3c026b;
    padding: 1.5rem;
    text-align: center;
    font-family: var(--font-primaria);
}

