:root{
    --cor-primaria:#181823;
    --cor-secundaria:#537FE7;
    --cor-terciaria:#E9F8F9;

/* #3F0071 */
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    box-sizing: border-box;
    height: 100vh;
}

.menu{
    padding: 29px 0;
}

.lista{
    display: flex;
    width: 200px;
    margin: 1%  0 0 15%;
    justify-content: space-between;

}

.lista__itens__link{
    color: var(--cor-secundaria);
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15%;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    text-align: justify;
}

.titulo__destaque{
    color: var(--cor-secundaria);
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px ;
    padding:  21.5px 0;
    border: 2px solid var(--cor-secundaria);
    border-radius: 8px ;
    width: 280px;
    text-align: center;
    font-size: 24px;
    color: var(--cor-terciaria);

}

.rodape{
    background-color: #3c026b;
    padding: 24px;
    text-align: center;
}

